

.changes_made_card {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    background-color: rgb(54, 91, 109);
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: black;
}

.image {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}